* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 320px;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
