.main-footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;

  &--index {
    display: none;
  }

  @media (min-width: @tablet-width) {
    min-height: 127px;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px;
    min-height: 197px;
  }
}

.main-footer__logo {
  height: 40px;
  width: 147px;
  margin: 0 0 20px 0;
}

.main-footer__link-list {
  display: flex;
  justify-content: space-between;
  width: 172px;
  margin: 22px 0 0 0;

  @media (min-width: @tablet-width) {
    margin: 0 20px 6px 0;
  }
}

.main-footer__social-link {
  width: 46px;
  height: 46px;
  border: solid 3px;
  border-color: fade(#283645, 10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__created {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #283645;
  margin: 41px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-footer__created-logo {
  margin: 0 0 0 15px;
}
