.page-contest {
  text-align: center;
  margin: 0;
  padding: 0.1px;
}

.page-contest__main-title {
  background: url("../../../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 100% auto;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.6px;
  line-height: 30px;
  color: @color-font-white;
  padding: 92px 40px 54px 40px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    padding: 178px 90px 82px 90px;
    line-height: 58px;
    letter-spacing: -0.8px;
  }

  @media (min-width: @desktop-width) {
    padding: 175px 220px 100px 220px;
    line-height: 58px;
    letter-spacing: -1px;
  }
}
