.download {
  background: url("../../../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 100% auto;
  background-color: black;
  min-height: 782px;
}

.download__header-img {
  margin: 176px 0 0 0;
}

.download__block {
  text-align: center;
}

.download__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: @color-font-white;
  margin: 28px 0 0 0;
  padding: 20px 39px 17px 39px;
  border: solid 3px white;
  border-radius: 40px;
  max-width: 281px;
}

.download__list-img {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 57px;
  margin-top: 32px;
}

.download__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: white;
  padding: 0 45px 35px 45px;
}
