.offerta {
  text-align: center;
}

.offerta__block {
  background-color: @color-grey;
  padding: 0 20px;
}

.offerta__main-title {
  font-size: 24px;
  font-weight: 300;
  color: @color-font-dark;
  margin-top: 46px;
  padding: 0 68px;
}

.offerta__reasons {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: @color-font-dark;
}

.offerta__reasons-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: @color-font-black;
  padding-bottom: 10px;
}

.offerta__img {
  margin: 45px 0 0 0;
}
